@layer components {
  label {
    @apply text-gray-900 text-sm lg:text-base;

    + input,
    + select {
      @apply mt-2;
    }
  }

  input,
  select {
    @apply w-full! px-4! py-2! text-[#999999]! bg-[#F7F7F7]! rounded-sm!;
    @apply border-[#F7F7F7]! focus:border-yellow!;
    @apply transition-shadow duration-100;
    @apply focus:ring-4! focus:ring-light-yellow!;
  }

  .form-error {
    @apply hidden mt-1 text-red text-sm;
  }

  .was-validated {
    input:invalid,
    select:invalid {
      @apply border-red! focus:border-red!;
      @apply focus:ring-light-red!;

      + .form-error {
        @apply block;
      }
    }
  }
}
